USE [Hotel]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [nvarchar](1000) NOT NULL,
	[userId] [nvarchar](1000) NOT NULL,
	[roomId] [nvarchar](1000) NOT NULL,
	[checkInDate] [datetime2](7) NOT NULL,
	[checkOutDate] [datetime2](7) NOT NULL,
	[nightCount] [int] NOT NULL,
	[guestsCount] [int] NOT NULL,
	[roomsCount] [int] NOT NULL,
	[specialRequest] [nvarchar](max) NULL,
	[pricePerNight] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[taxRate] [decimal](5, 4) NOT NULL,
	[taxAmount] [decimal](18, 2) NOT NULL,
	[totalPrice] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[paymentStatus] [nvarchar](50) NOT NULL,
	[paymentMethod] [nvarchar](50) NULL,
	[momoOrderId] [nvarchar](100) NULL,
	[momoTransId] [nvarchar](100) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Bookings_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Bookings_momoOrderId_key] UNIQUE NONCLUSTERED 
(
	[momoOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [nvarchar](1000) NOT NULL,
	[bookingId] [nvarchar](1000) NOT NULL,
	[method] [nvarchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[momoOrderId] [nvarchar](100) NULL,
	[momoTransId] [nvarchar](100) NULL,
	[momoResultCode] [int] NULL,
	[momoMessage] [nvarchar](500) NULL,
	[momoPayUrl] [nvarchar](1000) NULL,
	[status] [nvarchar](50) NOT NULL,
	[paidAt] [datetime2](7) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Payments_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Payments_bookingId_key] UNIQUE NONCLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [nvarchar](1000) NOT NULL,
	[userId] [nvarchar](1000) NOT NULL,
	[roomId] [nvarchar](1000) NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Reviews_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Reviews_userId_roomId_key] UNIQUE NONCLUSTERED 
(
	[userId] ASC,
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomImages]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomImages](
	[id] [nvarchar](1000) NOT NULL,
	[roomId] [nvarchar](1000) NOT NULL,
	[url] [nvarchar](500) NOT NULL,
	[isPrimary] [bit] NOT NULL,
	[order] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [RoomImages_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[pricePerNight] [decimal](18, 2) NOT NULL,
	[location] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[capacityAdults] [int] NOT NULL,
	[capacityChildren] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[amenities] [nvarchar](max) NULL,
	[avgRating] [decimal](3, 2) NOT NULL,
	[reviewCount] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Rooms_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/13/2026 1:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](1000) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[passwordHash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[avatarUrl] [nvarchar](500) NULL,
	[role] [nvarchar](50) NOT NULL,
	[isEmailVerified] [bit] NOT NULL,
	[emailVerifyToken] [nvarchar](255) NULL,
	[emailVerifyExpiry] [datetime2](7) NULL,
	[resetPasswordToken] [nvarchar](255) NULL,
	[resetPasswordExpiry] [datetime2](7) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Users_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Users_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_guestsCount_df]  DEFAULT ((1)) FOR [guestsCount]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_roomsCount_df]  DEFAULT ((1)) FOR [roomsCount]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_taxRate_df]  DEFAULT ((0.10)) FOR [taxRate]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_status_df]  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_paymentStatus_df]  DEFAULT ('UNPAID') FOR [paymentStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [Bookings_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [Payments_status_df]  DEFAULT ('UNPAID') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [Payments_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [Reviews_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[RoomImages] ADD  CONSTRAINT [RoomImages_isPrimary_df]  DEFAULT ((0)) FOR [isPrimary]
GO
ALTER TABLE [dbo].[RoomImages] ADD  CONSTRAINT [RoomImages_order_df]  DEFAULT ((0)) FOR [order]
GO
ALTER TABLE [dbo].[RoomImages] ADD  CONSTRAINT [RoomImages_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_capacityAdults_df]  DEFAULT ((2)) FOR [capacityAdults]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_capacityChildren_df]  DEFAULT ((0)) FOR [capacityChildren]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_status_df]  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_avgRating_df]  DEFAULT ((0)) FOR [avgRating]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_reviewCount_df]  DEFAULT ((0)) FOR [reviewCount]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [Rooms_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [Users_role_df]  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [Users_isEmailVerified_df]  DEFAULT ((0)) FOR [isEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [Users_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [Bookings_roomId_fkey] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [Bookings_roomId_fkey]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [Bookings_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [Bookings_userId_fkey]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [Payments_bookingId_fkey] FOREIGN KEY([bookingId])
REFERENCES [dbo].[Bookings] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [Payments_bookingId_fkey]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [Reviews_roomId_fkey] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [Reviews_roomId_fkey]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [Reviews_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [Reviews_userId_fkey]
GO
ALTER TABLE [dbo].[RoomImages]  WITH CHECK ADD  CONSTRAINT [RoomImages_roomId_fkey] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoomImages] CHECK CONSTRAINT [RoomImages_roomId_fkey]
GO
